<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="/static/style.css" rel="stylesheet"/>
        
        <title>Josh Kent's Portfolio: {% block title %}{% endblock %}</title>

        {% block head %}{% endblock %}

    </head>

    <body>
        <header>
            <h1><a id="myNameTop" href="/">Joshua Kent</a></h1>
        </header>
        <!-- <nav> -->
            <ul>  
                <li class="nav-item"><a class="nav-link" href="/resume">Resumé</a></li>
                <li class="dropdown nav-item"><a class="dropbtn" href="/code">Code</a>  <!--two classes-->
                    <div class="dropdown-content">
                        <a href="/experience">Experience</a> 
                        <a href="/projects">Projects</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/graphicDesign">Graphic Design</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        <!-- </nav> -->
        


        <main>
            {% block main %}{% endblock %}
        </main>
    </body>

</html>